.sign-in {
  width: 30vw; 
  display: flex;
  flex-direction: column;

  .title {
      margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.google-custom-button {
    min-width: 165px;
    width: 200px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #4285f4;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: #357ae8;
      color: black;
    }
  }